/* See CSS Tricks */
*, *:before, *:after {
  box-sizing: border-box;
}


body, html { 
  /* removing default margins/padding */
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
  font-family: $font-body;
  font-size: 16px;
}

header {
  margin-bottom: 50px; /* for mobile/tablet */

  @media screen and (min-width: 1024px) { 
    margin-bottom: 60px; /* to address desktop sizing */
  }
  img {
    width: 140px;
    @media screen and (min-width: 1024px) {
      width: 200px;
    }
  }
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: $magenta;
}

a:active {
    text-decoration: none;
    color: $magenta;
}


footer {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    justify-content: flex-end;
    margin-right: 16px;
  }

  > a {  //direct descendor of anchor elements
    margin-right: 16px;
    transform: translateY(0);
    &:last-child { //last child of these anchor elements, ampersand used in SASS to next styles
      margin-right: 0; /* remove the margin to the right of the last font-awesome icon to center all */
    }
    &:hover {
      transform: translateY(-3px);
      transition: transform 100ms ease-in-out;
    }
  }

  i.fab {
    display: inline-flex; /* going flex allows us to center icons inside border */
    justify-content: center;
    align-items: center;
    // margin-right: 16px;
    border: 1px solid white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

a i:hover {
  color: $magenta;
  border-color: $magenta;
}